<div ng-controller="viewController">
    <table class="employees-content">
        <thead>
            <tr>
                <td>Employee name</td>
                <td>Phone Number</td>
                <td>Address</td>
                <td>Remove</td>
            </tr>
        </thead>
        <tbody ng-repeat="employee in employees">
            <td>{{ employee.lastName+" "+employee.firstName }}</td>
            <td>{{ employee.mobileNumber }}</td>
            <td>{{ employee.address }}</td>
            <td><button ng-click="deleteEmployee($index)">Delete</button></td>
        </tbody>
    </table>
</div>